body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 8%;
    padding: 6px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]:hover {
    border: 1px solid black;
    border-radius: 4px;
}

input[type="number"]:focus {
    border-radius: 6px;
}

input[type="text"] {
    width: 60%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:hover {
    border: 1px solid black;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-radius: 6px;
}

button {
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s, scale 0.1s;
}

button:hover {
    background-color: aquamarine;
    scale: 1.01;
}

button:active {
    scale: 0.99;
}

.button-container {
    margin-bottom: 20px;
}

.password-container {
    display: block;
    font-weight: bold;
}

.dark-mode {
    transition: background-color 0.5s, color 0.5s;
    background-color: black;
    color: white;
}

.light-mode {
    transition: background-color 0.5s, color 0.5s;
    background-color: white;
    color: black;
}

#dark-mode-button {
    float: right;
    background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    padding: 0px;
    margin: 0;
    border-radius: 100px;
    transition: scale 0.1s;
}

#dark-mode-button:hover {
    scale: 1.01;
}

#dark-mode-button:active {
    scale: 0.99;
}

.main-flexbox {
    display: flex;
}

.settings-popup {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    background-color: blue;
    color: white;
    padding: 1rem;
    width: 30%;
    text-align: left;
    border-radius: 10px;
    transition: opacity 0.4s;
    height: 30rem;
    overflow-y: auto;
}

.settings-popup input[type="number"] {
    width: 10%;
    padding: 2px;
}

.settings-popup label {
    padding: 2px 2px;
    color: white;
}

.show {
    visibility: visible;
    opacity: 1;
}

#add-pool-button {
    margin-bottom: 1rem;
}