@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary (Teal) */
    --theme-default: #008080;
    --theme-50: #e6f7f7;
    --theme-100: #cceeee;
    --theme-200: #99dddd;
    --theme-300: #66cccc;
    --theme-400: #33bbbb;
    --theme-500: #008080;
    --theme-600: #006666;
    --theme-700: #005555;
    --theme-800: #004444;
    --theme-900: #003333;
    --theme-950: #030712;

    /* Accent 1 (Purple) */
    --accent: #800080;
    --accent-50: #f7e6f7;
    --accent-100: #eeccee;
    --accent-200: #dd99dd;
    --accent-300: #cc66cc;
    --accent-400: #bb33bb;
    --accent-500: #800080;
    --accent-600: #660066;
    --accent-700: #550055;
    --accent-800: #440044;
    --accent-900: #330033;
    --accent-950: #220022;

    /* Accent 2 (Olive Green) */
    --secondary: #808000;
    --secondary-50: #f7f7e6;
    --secondary-100: #eeeecc;
    --secondary-200: #dddd99;
    --secondary-300: #cccc66;
    --secondary-400: #bbbb33;
    --secondary-500: #808000;
    --secondary-600: #666600;
    --secondary-700: #555500;
    --secondary-800: #444400;
    --secondary-900: #333300;
    --secondary-950: #222200;
  }

  html {
    font-family: 'Varela Round', system-ui, sans-serif;
  }
  
  body {
    @apply antialiased;
  }
}